<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--width=device-width - это, чтобы работали адаптивные версии на всех мобильных устройствах, т.е. ширина по девайсу-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Подключаем стили (CSS) Бутстрапа
    rel (от relationship) – это атрибут, описывающий тег href-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">



    <title>Admin panel</title>

</head>

<body>

<!----------------------------------- Шапка------------------------------------------------------------------------->
<header>
    <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" id="navbarBrandAdmin">
        <!--********** СКРИПТ **********-->
    </span>
        <form th:action="@{/logout}" th:method="POST">
            <button type="submit" class="btn btn-outline-dark" style="color: lightgrey">Logout</button>
        </form>
    </nav>
</header>

<!------------------------------------------------Навигация слева------------------------------------------------------->
<!--СОЗДАЕМ ВКЛАДКИ СЛЕВА, у которых ниже раскрывающиеся блоки под id #v-pills-admin" и под id "#v-pills-user" будет панель юзера
    У вкладки Admin будут еще две вкладки: Users table с id="nav-users_table-tab" и New user id="nav-new_user-tab"-->

<div class="d-flex align-items-start"> <!--align-items-start - это выравнивание по горизонтали. start - это по верху-->

    <div class="col-2">

        <!---------------------------- Вертикальная левая панель------------------------------>
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <ul class="nav nav-pills nav-fill flex-column">
                <li class="nav-item">
                    <a class="nav-link active text-left" data-toggle="tab" id="homeTab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-left" data-toggle="tab" href="#userPanel">User</a>
                </li>

            </ul>

        </div>
    </div>

    <!--------- Содержимое справа от вертикальной левой панели----------------->
    <div class="container-fluid">
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">

                <!-------------------- Закладка Админа справа-------------->
                <div class="tab-pane fade show active" id="adminPanel" role="tabpanel">

                    <p class="fw-bold fs-4">Admin panel</p>

                    <nav>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" id="usersTable" href="#allUsers">Users
                                    table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                            </li>

                        </ul>
                    </nav>

                    <!--------КНОПКА TABLE USERS Список юзеров-->
                    <div class="tab-content" id="nav-tabContent">
                        <!-------------- Закладка горизонтальной панели с таблицей со всеми пользователями--------->
                        <div class="tab-pane fade show active" id="allUsers" role="tabpanel">

                            <h3><b>All Users</b></h3>
                            <table class="table table-striped bg-white border table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody id="tableUsers">
                                <!----Скрипт--->
                                </tbody>
                            </table>


                            <!-------------------------МОДАЛЬНОЕ ОКНО ДЛЯ EDIT------------------>

                            <div class="modal" tabindex="-1" id="editModal"
                                 aria-labelledby="EditModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">

                                        <!-- Заголовок модального окна EDIT -->
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>
                                        <!---- Основное содержимое модального окна EDIT -->
                                        <div class="modal-body text-center">
                                            <div class="d-flex justify-content-center align-items-center container">
                                                <div class="row">
                                                    <form id="formEdit">

                                                        <div class="mb-3">
                                                            <label for="edit-id"><b>ID</b></label>
                                                            <input class="form-control"
                                                                   type="text"
                                                                   id="edit-id"
                                                                   name="id"
                                                                   readonly/>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="edit-username"><b>First Name</b></label>
                                                            <input class="form-control"
                                                                   type="text"
                                                                   id="edit-username"
                                                                   name="username"
                                                                   placeholder="Username"/>
                                                        </div>


                                                        <div class="mb-3">
                                                            <label for="edit-email"><b>Email</b></label>
                                                            <input class="form-control"
                                                                   type="email"
                                                                   id="edit-email"
                                                                   name="email"
                                                                   placeholder="Email"/>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="edit-password"><b>Password</b></label>
                                                            <input class="form-control"
                                                                   type="text"
                                                                   id="edit-password"
                                                                   name="password"
                                                                   placeholder="Password"/>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="edit-roles"><b>Role</b></label>
                                                            <select multiple size="2"
                                                                    class="form-control"
                                                                    id="edit-roles" name="roles" required>
                                                                <!--                                                                <option value="1">ADMIN</option>-->
                                                                <!--                                                                <option value="2">USER</option>-->
                                                            </select>
                                                        </div>

                                                        <div class="modal-footer text-end">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal"
                                                                    id="editClose">
                                                                Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">
                                                                Edit
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!----------------------------------------------Модальное окно для удаления---------------------------------------------->
                            <!--МОДАЛЬНОЕ ОКНО ДЛЯ DELETE-->

                            <div class="modal" tabindex="-1" id="deleteModal"
                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete user</h5>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>

                                        <div class="modal-body text-center">
                                            <div class="d-flex justify-content-center align-items-center container">
                                                <div class="row">
                                                    <form id="formDelete">

                                                        <div class="mb-3">
                                                            <label for="delete-id">
                                                                <b>ID</b>
                                                            </label>
                                                            <input class="form-control"
                                                                   type="text"
                                                                   name="id"
                                                                   id="delete-id"
                                                                   disabled>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="delete-username">
                                                                <b>First Name</b>
                                                            </label>
                                                            <input class="form-control"
                                                                   name="username"
                                                                   type="text"
                                                                   id="delete-username"
                                                                   disabled/>
                                                        </div>


                                                        <div class="mb-3">
                                                            <label for="delete-email">
                                                                <b>Email</b>
                                                            </label>
                                                            <input class="form-control"
                                                                   name="email"
                                                                   type="text"
                                                                   id="delete-email"
                                                                   disabled/>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="delete-password">
                                                                <b>Password</b>
                                                            </label>
                                                            <input class="form-control"
                                                                   name="password"
                                                                   type="text"
                                                                   id="delete-password"
                                                                   disabled/>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="delete-roles"><b>Role</b></label>
                                                            <select multiple class="form-control col-12"
                                                                    size="2"
                                                                    id="delete-roles"
                                                                    name="roles"
                                                                    disabled>
                                                                <!--                                                                <option value="1">ADMIN</option>-->
                                                                <!--                                                                <option value="2">USER</option>-->
                                                            </select>
                                                        </div>

                                                        <div class="modal-footer text-end">
                                                            <button type="button" class="btn btn-secondary"
                                                                    id="deleteClose"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <input type="submit" class="btn btn-danger" value="Delete">
                                                            <!--                                                            <button type="submit" class="btn btn-danger">-->
                                                            <!--                                                                Delete-->
                                                            <!--                                                            </button>-->
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- КНОПКА NEW USER Форма для добавления нового юзера-->
                        <!--Это блок под id "#nav-new_user", который раскрывается, когда нажимаешь вторую вкладку button "New user" под id "nav-new_user-tab"-->
                        <div class="tab-pane fade" id="newUser" role="tabpanel"
                             aria-labelledby="nav-new_user-tab">

                            <p>Add new user</p>

                            <div class="d-flex justify-content-center align-items-center container">
                                <div class="row">
                                    <form id="formNew">

                                        <div class="mb-3">
                                            <label for="create-username"
                                                   class="form-label fw-bold"><b>Username</b></label>
                                            <input type="text" class="form-control"
                                                   id="create-username"
                                                   placeholder="Username"
                                                   name="username"
                                                   required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="create-email"
                                                   class="form-label fw-bold">
                                                <b>Email</b>
                                            </label>
                                            <input type="email" class="form-control"
                                                   id="create-email"
                                                   placeholder="Email"
                                                   name="email"
                                                   required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="create-password"
                                                   class="form-label fw-bold">
                                                <b>Password</b>
                                            </label>
                                            <input type="text" class="form-control"
                                                   id="create-password"
                                                   name="password"
                                                   placeholder="Password" required>
                                        </div>
                                        <span><b>Role</b></span>
                                        <select class="form-select"
                                                aria-label="Default select example"
                                                id="create-roles"
                                                name="roles"
                                                required>
                                            <!--                                        <option value="1">ADMIN</option>-->
                                            <!--                                        <option value="2">USER</option>-->
                                        </select>
                                        <br>
                                        <input class="btn btn-info" type="submit" value="Add new user"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------- Таблица с информацией о текущем пользователе-------->
                <div class="tab-pane" id="userPanel">
                    <div class="page-header" style="margin-top: 12px">
                        <h2>User information-page</h2>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead class="thead">
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="tableAdmin">
                                <!-- СКРИПТ -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/current-admin.js"></script>
<script type="text/javascript" src="/delete-modal.js"></script>
<script type="text/javascript" src="/edit-modal.js"></script>
<script type="text/javascript" src="/formNew.js"></script>
<script type="text/javascript" src="/modal.js"></script>
<script type="text/javascript" src="/tableUsers.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>